@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Palanquin:wght@400;600&display=swap");

:root {
  --gray: rgb(138, 138, 138);
}

* {
  font-family: "Palanquin", sans-serif;
  box-sizing: border-box;
  color: white;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
}

.logo-div {
  width: 100%;
  text-align: center;
}

.logo {
  width: 500px;
}

.section-title {
  width: 100%;
  text-align: center;
}

footer {
  display: flex;
  width: fill-available;
  flex-direction: column;
  margin-top: 45px;
  margin-bottom: 45px;
  align-items: center;
  bottom: 0;
  width: 100%;
}

footer p {
  margin-top: -10px;
}

.column {
  float: left;
  width: 50%;
}

.column3 {
  float: left;
  width: 33.333%;
  margin: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 300px;
  text-align: center;
  margin: 20px;
  background-color: #000;
  border: 1px solid white;
  position: relative;
}

.separator-div {
  margin-top: 30px;
  margin-bottom: 30px;
}

.separator {
  height: 1px;
  background-color: #e6e6e6;
  width: 35%;
  margin: 0 auto;
  background-image: linear-gradient(left, white 2%, #e6e6e6 50%, white 98%);
  background-image: -o-linear-gradient(left, white 2%, #e6e6e6 50%, white 98%);
  background-image: -moz-linear-gradient(
    left,
    white 2%,
    #e6e6e6 50%,
    white 98%
  );
  background-image: -webkit-linear-gradient(
    left,
    white 2%,
    #e6e6e6 50%,
    white 98%
  );
  background-image: -ms-linear-gradient(left, white 2%, #e6e6e6 50%, white 98%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    right bottom,
    color-stop(0.02, white),
    color-stop(0.5, gray),
    color-stop(0.98, white)
  );
}

.card-title {
  color: rgba(255, 255, 255, 0.603);
}

.card-large-content {
  color: white;
  font-size: 60px;
  margin-top: -10px;
}

.card-side-content {
  color: white;
  font-size: 80px;
  margin-top: -30px;
  right: 100px;
  position: absolute;
}

.cardicon {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 200px;
  color: rgba(128, 128, 128, 0.274);
}

@media screen and (max-width: 1200px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .card-large-content {
    font-size: 40px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 630px) {
  .card-side-content {
    color: white;
    font-size: 80px;
    margin-top: -30px;
    position: absolute;
    left: 50%;
    right: 50%;
    min-width: 145px;
  }
}
